notes.txt

Dockerfile
docker-compose.yml

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/terraform.tfstate

.DS_Store

.env